p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: justify;
    padding: 50px;
    margin: 50px;
    color: rgb(15, 20, 30);
}

@media screen and (max-width: 1377px) {
    p {
        margin: 50px;
    }
}

h1 {
    font-size: 3em;
    text-align: center;
    text-shadow: 5px 5px 1px rgba(0, 0, 0, 0.2)
}

h2 {
    font-size: 2em;
    text-shadow: 3px 3px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h3 {
    font-size: 1.25em;
    text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.2);
}

body {
    width: 100%;
    background: linear-gradient(to right, rgba(25, 25, 112, 0.8), rgba(230, 230, 250, 0.8));
}

img:hover {
    opacity: 0.5;
}

a:hover {
    color: black;
}

a:active {
    text-decoration: blue;
}

a:focus {
    background-color: navy;
    color: white;
    outline: black;
}

a {
    color: blue;
}

td, th {
    border: 1px solid #000000;
    padding: 15px;
}

table {
    border-collapse: collapse;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

input {
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
}

fieldset {
    background-color: #bac9ce;
}

legend {
    background-color: #ffffff;
}

:required {
    background-color:#F2A3BB;
}

.premier {
    color: goldenrod
}

.deuxième {
    color: silver
}

.troisième {
    color: rgb(205, 127, 50)
}

.biography{
    display: flex;
    flex-direction: row-reverse;
    gap: 25px;
}

.pages_internes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
    height: 25px;
    gap: 10px;
}
.button-30 {
  align-items: center;
  background-color: rgb(245, 245, 245);
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  color: #36395A;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button-30:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button-30:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-30:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}